{% extends '::base.html.twig' %}

 {% block body %}
     {{ include("OCWebAgencyBundle:inc:header.html.twig") }}
         <div class="back" id="section1">
             <h3>THIS IS MY LIFE !!! </h3>
             <div class="btn-header"><a class="btn-second" href="#section2">next</a></div>
         </div>
         <div class="back" id="section2">
             <h3>WELCOME !!! </h3>
             <div class="btn-header"><a class="btn-second" href="#section1">last</a>
                 <a href="#section3" class="btn-second">next</a>
             </div>
         </div>

         <div class="back" id="section3">
             <h3>DANCEFLOOR !</h3>
             <div class="btn-header"><a class="btn-second" href="#section2">last</a></div>
         </div>
     </div>
 {% endblock %}